// Import custom variables
@import 'variables';

// Example use of variables
body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5 {
  color: $color-green;
}

.btn-custom {
  background-color: $color-green;
  color: $color-white;
}

.votecontrols{
  min-width:60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;
  span, a{
    display:block;
  }
  span{
    &.votes-count{
      font-size: 25px;
    }
    &.favorites-count{
      font: size 12px;
    }
  }
  a{
    cursor: pointer;
    color: $gray-600;

    &.off, &.off:hover{
      color:$gray-500;
    }
    &.favorited, &.favorited:hover{
      color: $warning;
    }


  }
  
}
