// Import custom variables
@import 'variables';

// Example use of variables
body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5 {
  color: $color-green;
}

.btn-custom {
  background-color: $color-green;
  color: $color-white;
}

